*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
background-color: #F9EFDB;
}

#header{
    background-color: #B5C18E;
    color: beige;
    /* change */
    display: flex;

}

 .nav-item .nav-link {
    color: black;
    text-transform: uppercase;
   
}
.nav-link:hover , 
.nav-link:active {
  color: rgb(228, 151, 43);
    transition: 5s;
    text-decoration: underline;
}
.btn{
    background-color: rgb(100, 100, 13);
    color: white;
}
.btn :hover{
  text-decoration: underline;
  background-color: rgb(100, 100, 13);
  color: white;
}

/* change start */
#sidebar-active{
  display: none;
  
}
.open-sidebar-button , .close-sidebar-button{

 align-items: flex-end;
  padding: 0 ;
  display: none;
}

@media(max-width: 1250px) {
  .position-relative{
   
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 150px;
    right: -100%;
    z-index: 10;
    width: 190px;
    
    background-color: #B5C18E;
    transition: 0.85s ease-out;
  }
  nav li{
    box-sizing: border-box;
    height:auto;
    width:100%;
   
    justify-content: flex-start;
    text-decoration: none;
  }
  
  .open-sidebar-button , .close-sidebar-button{
    display: block;
   padding: 0 0px;
  }
  #sidebar-active:checked  ~  .position-relative{
    padding:0  10px;
    right: 0;
   
  }
  #sidebar-active:checked  ~  .overlay{
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
  left:0;
  z-index: 9;
   
  }
}
  
  
  
  .mobile-nav-toggle {
    display: none;
  }
  
 

  .footer-heading .footer-para{
color: white;
  }
  .logo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.logo-footer {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 200px;
    max-height: 210px;
}

.logo-footer:nth-child(2) {
    z-index: 2;
    left: 20px;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 215px;
}
.logo-footer:nth-child(3) {
  margin-top: 30px;
    z-index: 3;
    margin-bottom: 25px;
    align-items: center;
    left: 450px;
}


